# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 0806831910c747c9e6d32dc0005429a3c95478ef2dfdd9e3bd89ab9b7e46c28fdaa6d9323f86382c804003af8d8a96b9e42f3644eb8e3467ccef9d3f82aa9ba4

test:
  secret_key_base: 5c39f3a28e90bfe0e86da006948ceffa018206e322d6464ef453fafddae8c22e4543d2a7bac643bc82399059182b9b82cbdc6c9c8ce4bcb9fb926f2595dd6924

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
